/* Estilos para dispositivos móveis */

a:active, a:hover {
    background: none;
     color: var(--linkVisitado);
}
.tituloAgrupamento {
  border-bottom: 2px solid var(--bordaManga);
  margin: 15px 0;
  text-transform: uppercase;
}


/* UNIDADE DE MANGA */

.manga {
  width: 160px;
  margin: 5px;
  display: inline-block;
  text-align: center;
}
.capa {
  cursor: pointer;
  border: 2px solid var(--bordaManga);
  border-radius: 5px;
  width: 140px;
  height: 195px;
  transition: all .2s;
}
.capa:hover{
  width: 150px;
  height: 205px;
  border: 2px solid var(--bordaCapitulo);
  transition: all .2s;
}
.capitulo:hover {
  color: #252525;
}
.capitulo {
  cursor: pointer;
  width: 140px;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: var(--bordaCapitulo);
  color: var(--tituloManga);
}
.titulo {
  cursor: pointer;
  margin: 10px 0;
  padding: 2px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--tituloManga);
  border: 2px solid var(--tituloManga);
  background-color: #1d075f;
}
  /* SETA VOLTAR */

.seta-voltar {
    color: #fff;
    font-size: 30px;
}

  /*  PAGINAS */

.numeroPagina {
  display: inline-block;
  margin: 10px;
}
.pagina {
  margin: 4px 2px;
  padding: 5px ;
  font-size: 18px;
  background-color: var(--fundoCorpo);
  color: var(--letraCorpo);
  border-right: 2px solid var(--fundoBotao);
}

  /* Estilos para tablet */
@media only screen and (min-width: 768px) {
}

/* Estilos para notebook */
@media only screen and (min-width: 1024px) {
}
